$govuk-global-styles: true;
// $path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "govuk-frontend/dist/govuk/index";

@import "@ministryofjustice/frontend/moj/base";
@import "@ministryofjustice/frontend/moj/core/all";
// @import "@ministryofjustice/frontend/moj/objects/all"; // Fails css rendering
@import "@ministryofjustice/frontend/moj/components/all";
@import "@ministryofjustice/frontend/moj/utilities/all";


@import "./components/header-bar";
@import "./overrides"